@model MusicStore.Models.Artist

@{
    ViewData["Title"] = "Delete";
}

<div class="card" role="region">
    <div class="card-header">
        <h2>
            Are you shure you want to delete @Model.Name?
        </h2>
    </div>
    <form asp-action="Delete" asp-controller="Artist">
        <div class="card-body">
            *Notice that this method is irreversible
        </div>
        <div class="card-footer">
            <button type="submit" value="Yes, delete" class="btn btn-danger">
                Yes, delete
            </button>
            <a asp-action="Index" asp-controller="Artist" class="btn btn-primary" line-height: 40px"> Cancel</a>
        </div>
    </form>
</div>
