@model MusicStore.Models.Genre

@{
    ViewData["Title"] = "Create";
}

<div class="card" role="region">
    <div class="card-header">
        <h2>
            Add genre
        </h2>
    </div>
    <form asp-action="Create">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>Details</h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Add" class="btn btn-primary" line-height: 40px" />
            <a asp-action="Index" asp-controller="Genre" class="btn btn-danger" line-height: 40px"> Cancel</a>
        </div>
    </form>
</div>
